.app {
  text-align: center;
}
.app-header {
  background-color: darkblue;
  left: 0;
  padding-top: 20px;
  position: relative;
  right: 0;
  top: 0;
  z-index: 5000;
}
h1 {
  color: white;
  font-size: 26px;
}
ul {
  list-style: none;
}
.app-header ul li {
  color: white;
  display: inline-block;
  margin: 20px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: darkgray;
}
a:hover,
a:active {
  color: lightblue;
  font-weight: 500;
}
a:focus {
  outline: 0;
}